## 4.6 Combining & Exporting Data

In [35]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [36]:
# Assigning Path
path = r'/Users/elia/Desktop/DATA ANALYST/CAREER FOUNDRY/B - Data Analytics Immersion/4 - PYTHON FOR ANALYSTS/09-2025 Instacart Basket Analysis'

#### 3 - Import the data set into Jupyter as a new dataframe: df_ords_prior

In [37]:
# Import Dataframe (OrdersProductsPrior.csv)
df_ords_prior = pd.read_csv(os.path.join(path, '02 - Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

#### 4 - Check the dimensions of the imported dataframe

In [38]:
# Use the Shape Function
df_ords_prior.shape

(32434489, 4)

In [39]:
df_ords_prior.head(5)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

#### 5 - Merge the dataframe with your df_ords dataframe

In [58]:
# Import Dataframe (Orders.csv)
df_ords = pd.read_csv(os.path.join(path, '02 - Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

In [59]:
df_ords.shape

(3421083, 8)

In [60]:
df_ords.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,0,2539329,1,prior,1,2,8,NaN
1,1,2398795,1,prior,2,3,7,15.0
2,2,473747,1,prior,3,3,12,21.0
3,3,2254736,1,prior,4,4,7,29.0
4,4,431534,1,prior,5,4,15,28.0

In [61]:
# Merge through the order_id column
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [62]:
df_merged_large

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both
...,...,...,...,...,...,...,...,...,...,...,...,...
32434484,3421081,2977660,206209,prior,13,1,12,7.0,14197,5,1,both
32434485,3421081,2977660,206209,prior,13,1,12,7.0,38730,6,0,both
32434486,3421081,2977660,206209,prior,13,1,12,7.0,31477,7,0,both
32434487,3421081,2977660,206209,prior,13,1,12,7.0,6567,8,0,both
32434488,3421081,2977660,206209,prior,13,1,12,7.0,22920,9,0,both

In [63]:
df_merged_large.shape

(32434489, 12)

In [64]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [65]:
df_merged_large.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [66]:
# Export data to csv

df_merged_large.to_csv(os.path.join(path, '02 - Data','Prepared Data', 'orders_products_combined.csv'))

In [67]:
# Export data to pkl

df_merged_large.to_pickle(os.path.join(path, '02 - Data','Prepared Data', 'orders_products_combined.pkl'))