## 4.6 - Merge Orders Datasets 2

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
# Assigning Path
path = r'/Users/elia/Desktop/DATA ANALYST/CAREER FOUNDRY/B - Data Analytics Immersion/4 - PYTHON FOR ANALYSTS/09-2025 Instacart Basket Analysis'

#### 3 - Import the orders_products_combined dataframe from the pickle file you just saved.

In [3]:
# Import Dataframe (OrdersProductsCombined.pkl)
df_ords_prods = pd.read_pickle(os.path.join(path, '02 - Data', 'Prepared Data', 'orders_products_combined.pkl'))

#### 4 - Check the shape of the imported dataframe

In [4]:
# Use the Shape Function
df_ords_prods.shape

(32434489, 12)

In [5]:
df_ords_prods.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both

#### 5 - Determine a suitable way to combine the orders_products_combined dataframe with your products data set. Make sure you’re using your wrangled, cleaned, and deduped products data set stored in your “Prepared Data” folder from the previous Exercise’s task.

In [6]:
# Import Dataframe (ProductsChecked.csv)
df_prods_checked = pd.read_csv(os.path.join(path, '02 - Data', 'Prepared Data', 'products_checked.csv'))

In [7]:
# First i will have a preliminary look at the Products Data Set
df_prods_checked.shape

(49672, 6)

In [8]:
df_prods_checked.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [9]:
# I think a normal full join merge will be better, because we want to have all the products to be matched with all the possible orders
# Merge through the product_id column

df_ords_prods_merged = df_ords_prods.merge(df_prods_checked, on = 'product_id', indicator = 'merge_products')

In [10]:
df_ords_prods_merged.shape

(32404859, 18)

In [11]:
df_ords_prods_merged.head()

,Unnamed: 0_x,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices,merge_products
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both,195,Soda,77,7,9.0,both
1,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both,14084,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both
2,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both,12427,Original Beef Jerky,23,19,4.4,both
3,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both,26089,Aged White Cheddar Popcorn,23,19,4.7,both
4,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both,26406,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both

#### 6 - Confirm the results of the merge using the merge flag.

In [12]:
df_ords_prods_merged['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

#### 7 - Export the newly created dataframe as ords_prods_merge in a suitable format (taking into consideration the size).

In [22]:
# I will be using the export in csv considering it uses less space than pkl.

df_ords_prods_merged.to_csv(os.path.join(path, '02 - Data','Prepared Data', 'orders_products_merged.csv'))

In [13]:
df_ords_prods_merged.shape

(32404859, 18)