## Intro to Data Visualization with Python [4.9]

### Exercise Task - Part 1

#### 3 - Import your analysis libraries, as well as your new customer data set as a dataframe.

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
# Assigning Path

path = r'/Users/elia/Desktop/DATA ANALYST/CAREER FOUNDRY/B - Data Analytics Immersion/4 - PYTHON FOR ANALYSTS/09-2025 Instacart Basket Analysis'

In [3]:
# Import New Customer DataSet as a DataFrame

df_customers = pd.read_csv(os.path.join(path, '02 - Data', 'Original Data', 'customers.csv'))

In [4]:
df_customers.shape

(206209, 10)

#### 4 - Wrangle the data so that it follows consistent logic; for example, rename columns with illogical names and drop columns that don’t add anything to your analysis.

In [5]:
# Will use info and shape to check columns and data types first

In [6]:
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       206209 non-null  int64
 1   First Name    194950 non-null  object
 2   Surnam        206209 non-null  object
 3   Gender        206209 non-null  object
 4   STATE         206209 non-null  object
 5   Age           206209 non-null  int64
 6   date_joined   206209 non-null  object
 7   n_dependants  206209 non-null  int64
 8   fam_status    206209 non-null  object
 9   income        206209 non-null  int64
dtypes: int64(4), object(6)
memory usage: 15.7+ MB

In [7]:
df_customers.shape

(206209, 10)

In [8]:
df_customers.head(10)

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374
5,133128,Cynthia,Noble,Female,Kentucky,43,1/1/2017,2,married,49643
6,152052,Chris,Walton,Male,Montana,20,1/1/2017,0,single,61746
7,168851,Joseph,Hickman,Male,South Carolina,30,1/1/2017,0,single,63712
8,69965,Jeremy,Vang,Male,Texas,47,1/1/2017,1,married,162432
9,82820,Shawn,Chung,Male,Virginia,26,1/1/2017,2,married,32072

In [9]:
# Renaming Columns for Better Clarity and Consistency

df_customers.rename(columns={'First Name': 'first_name'}, inplace=True)
df_customers.rename(columns={'Surnam': 'last_name'}, inplace=True)
df_customers.rename(columns={'Gender': 'gender'}, inplace=True)
df_customers.rename(columns={'STATE': 'state'}, inplace=True)
df_customers.rename(columns={'Age': 'age'}, inplace=True)

In [10]:
df_customers.head(10)

,user_id,first_name,last_name,gender,state,age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374
5,133128,Cynthia,Noble,Female,Kentucky,43,1/1/2017,2,married,49643
6,152052,Chris,Walton,Male,Montana,20,1/1/2017,0,single,61746
7,168851,Joseph,Hickman,Male,South Carolina,30,1/1/2017,0,single,63712
8,69965,Jeremy,Vang,Male,Texas,47,1/1/2017,1,married,162432
9,82820,Shawn,Chung,Male,Virginia,26,1/1/2017,2,married,32072

##### I've read the project brief and the key questions that needs to be answered.
##### Family status and dependants numbere are definetely columns that i will require, so i won't delete any column.

#### 5 - Complete the fundamental data quality and consistency checks you’ve learned throughout this Achievement; for example, check for and address missing values and duplicates, and convert any mixed-type data.

In [46]:
# Will use again info, shape and other commands to check possible issues.

In [11]:
df_customers.describe()

             user_id            age   n_dependants         income
count  206209.000000  206209.000000  206209.000000  206209.000000
mean   103105.000000      49.501646       1.499823   94632.852548
std     59527.555167      18.480962       1.118433   42473.786988
min         1.000000      18.000000       0.000000   25903.000000
25%     51553.000000      33.000000       0.000000   59874.000000
50%    103105.000000      49.000000       1.000000   93547.000000
75%    154657.000000      66.000000       3.000000  124244.000000
max    206209.000000      81.000000       3.000000  593901.000000

In [12]:
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       206209 non-null  int64
 1   first_name    194950 non-null  object
 2   last_name     206209 non-null  object
 3   gender        206209 non-null  object
 4   state         206209 non-null  object
 5   age           206209 non-null  int64
 6   date_joined   206209 non-null  object
 7   n_dependants  206209 non-null  int64
 8   fam_status    206209 non-null  object
 9   income        206209 non-null  int64
dtypes: int64(4), object(6)
memory usage: 15.7+ MB

In [13]:
# Check for mixed types

for col in df_customers.columns.tolist():
  weird = (df_customers[[col]].map(type) != df_customers[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_customers[weird]) > 0:
    print (col)

first_name

##### The column first_name seems like having null values, but it could also be that are not recognised as string, so i will change the column all to string data type.

In [14]:
df_customers['first_name'] = df_customers['first_name'].astype('str')

In [15]:
# I will execute again the mixed types code

for col in df_customers.columns.tolist():
  weird = (df_customers[[col]].map(type) != df_customers[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_customers[weird]) > 0:
    print (col)

In [16]:
# I will check if these missing values are still there or they have been fixed

df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       206209 non-null  int64
 1   first_name    206209 non-null  object
 2   last_name     206209 non-null  object
 3   gender        206209 non-null  object
 4   state         206209 non-null  object
 5   age           206209 non-null  int64
 6   date_joined   206209 non-null  object
 7   n_dependants  206209 non-null  int64
 8   fam_status    206209 non-null  object
 9   income        206209 non-null  int64
dtypes: int64(4), object(6)
memory usage: 15.7+ MB

##### It seems like now there isn't any null values and all data types are correct.

In [17]:
# Here i will check for any duplicates

df_customers.isnull().sum()

user_id         0
first_name      0
last_name       0
gender          0
state           0
age             0
date_joined     0
n_dependants    0
fam_status      0
income          0
dtype: int64

#### 6 - Combine your customer data with the rest of your prepared Instacart data. (Hint: Make sure the key columns are the same data type!)

In [19]:
df_customers.shape

(206209, 10)

In [62]:
# Import Dataframe (OrdersProductsMerged-V3.csv)

ords_prods_merge = pd.read_pickle(os.path.join(path, '02 - Data', 'Prepared Data', 'orders_products_merged_updated_V3.pkl'))

In [64]:
# Check again both dataframes for columns data types consistency

In [66]:
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       206209 non-null  int64
 1   first_name    206209 non-null  object
 2   last_name     206209 non-null  object
 3   gender        206209 non-null  object
 4   state         206209 non-null  object
 5   age           206209 non-null  int64
 6   date_joined   206209 non-null  object
 7   n_dependants  206209 non-null  int64
 8   fam_status    206209 non-null  object
 9   income        206209 non-null  int64
dtypes: int64(4), object(6)
memory usage: 15.7+ MB

In [67]:
ords_prods_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32404859 entries, 0 to 32404858
Data columns (total 23 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   order_number            int64
 3   order_day_of_week       int64
 4   order_hour_of_day       int64
 5   days_since_prior_order  float64
 6   product_id              int64
 7   add_to_cart_order       int64
 8   reordered               int64
 9   product_name            object
 10  aisle_id                int64
 11  department_id           int64
 12  prices                  float64
 13  price_range_loc         object
 14  busiest_days            object
 15  slowest_days            object
 16  busiest_period_of_day   object
 17  max_order               int64
 18  loyalty_flag            object
 19  avg_user_price          float64
 20  spender_level           object
 21  order_frequency_median  float64
 22  order_frequency_level   object
dtypes: float64(4), int64(11), object(8)
memory usage: 5.6+ GB

In [68]:
# Merge through the user_id column
df_merge_complete = df_customers.merge(ords_prods_merge, on = 'user_id', indicator = True)

In [72]:
df_merge_complete.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32404859 entries, 0 to 32404858
Data columns (total 33 columns):
 #   Column                  Dtype
---  ------                  -----
 0   user_id                 int64
 1   first_name              object
 2   last_name               object
 3   gender                  object
 4   state                   object
 5   age                     int64
 6   date_joined             object
 7   n_dependants            int64
 8   fam_status              object
 9   income                  int64
 10  order_id                int64
 11  order_number            int64
 12  order_day_of_week       int64
 13  order_hour_of_day       int64
 14  days_since_prior_order  float64
 15  product_id              int64
 16  add_to_cart_order       int64
 17  reordered               int64
 18  product_name            object
 19  aisle_id                int64
 20  department_id           int64
 21  prices                  float64
 22  price_range_loc         object
 23  busiest_days            object
 24  slowest_days            object
 25  busiest_period_of_day   object
 26  max_order               int64
 27  loyalty_flag            object
 28  avg_user_price          float64
 29  spender_level           object
 30  order_frequency_median  float64
 31  order_frequency_level   object
 32  _merge                  category
dtypes: category(1), float64(4), int64(14), object(14)
memory usage: 7.8+ GB

In [73]:
df_merge_complete.head(25)

,user_id,first_name,last_name,gender,state,age,date_joined,n_dependants,fam_status,income,...,busiest_days,slowest_days,busiest_period_of_day,max_order,loyalty_flag,avg_user_price,spender_level,order_frequency_median,order_frequency_level,_merge
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Not Busy,Not Slow,Most Orders,8,New customer,7.988889,Low Spender,19.0,Regular Customer,both
1,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Not Busy,Not Slow,Most Orders,8,New customer,7.988889,Low Spender,19.0,Regular Customer,both
2,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Not Busy,Very Slow,Most Orders,8,New customer,7.988889,Low Spender,19.0,Regular Customer,both
3,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Not Busy,Very Slow,Most Orders,8,New customer,7.988889,Low Spender,19.0,Regular Customer,both
4,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Not Busy,Very Slow,Most Orders,8,New customer,7.988889,Low Spender,19.0,Regular Customer,both
5,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Very Busy,Not Slow,Average orders,8,New customer,7.988889,Low Spender,19.0,Regular Customer,both
6,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Very Busy,Not Slow,Average orders,8,New customer,7.988889,Low Spender,19.0,Regular Customer,both
7,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Very Busy,Not Slow,Most Orders,8,New customer,7.988889,Low Spender,19.0,Regular Customer,both
8,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Very Busy,Not Slow,Most Orders,8,New customer,7.988889,Low Spender,19.0,Regular Customer,both
9,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Very Busy,Not Slow,Most Orders,8,New customer,7.988889,Low Spender,19.0,Regular Customer,both
10,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Very Busy,Not Slow,Average orders,8,New customer,7.988889,Low Spender,19.0,Regular Customer,both
11,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Very Busy,Not Slow,Average orders,8,New customer,7.988889,Low Spender,19.0,Regular Customer,both
12,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Not Busy,Not Slow,Most Orders,8,New customer,7.988889,Low Spender,19.0,Regular Customer,both
13,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Not Busy,Not Slow,Most Orders,8,New customer,7.988889,Low Spender,19.0,Regular Customer,both
14,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Not Busy,Not Slow,Most Orders,8,New customer,7.988889,Low Spender,19.0,Regular Customer,both
15,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Very Busy,Not Slow,Most Orders,8,New customer,7.988889,Low Spender,19.0,Regular Customer,both
16,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Very Busy,Not Slow,Most Orders,8,New customer,7.988889,Low Spender,19.0,Regular Customer,both
17,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Very Busy,Not Slow,Most Orders,8,New customer,7.988889,Low Spender,19.0,Regular Customer,both
18,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285,...,Not Busy,Not Slow,Average orders,12,Regular customer,7.057534,Low Spender,26.0,Non Frequent Customer,both
19,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285,...,Not Busy,Not Slow,Average orders,12,Regular customer,7.057534,Low Spender,26.0,Non Frequent Customer,both
20,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285,...,Not Busy,Not Slow,Average orders,12,Regular customer,7.057534,Low Spender,26.0,Non Frequent Customer,both
21,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285,...,Not Busy,Not Slow,Average orders,12,Regular customer,7.057534,Low Spender,26.0,Non Frequent Customer,both
22,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285,...,Not Busy,Not Slow,Average orders,12,Regular customer,7.057534,Low Spender,26.0,Non Frequent Customer,both
23,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285,...,Not Busy,Not Slow,Average orders,12,Regular customer,7.057534,Low Spender,26.0,Non Frequent Customer,both
24,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285,...,Not Busy,Not Slow,Most Orders,12,Regular customer,7.057534,Low Spender,26.0,Non Frequent Customer,both

In [74]:
df_merge_complete['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

#### 8 - Export this new dataframe as a pickle file so you can continue to use it in the second part of this task.

In [75]:
# Export data to pkl

df_merge_complete.to_pickle(os.path.join(path, '02 - Data','Prepared Data', 'instacart_dataset_complete.pkl'))